GOTODO_ENV_ID=local
SECRET_KEY=your-secret-key-here

GOTODO_REDIS_HOST=redis
GOTODO_REDIS_PORT=6379
GOTODO_REDIS_DB=0
GOTODO_REDIS_URL=redis://redis:6379/0

GOTODO_CELERY_BROKER_URL=redis://redis:6379/1

GOTODO_FLOWER_USER=admin
GOTODO_FLOWER_PASSWORD=changeme

GOTODO_SEED_DB=false