[flake8]
max-line-length = 120
extend-ignore =
    E203,
    W503,
    E501
exclude =
    .git,
    __pycache__,
    venv,
    .venv,
    migrations,
    static,
    media

per-file-ignores =
    __init__.py:F401
    apps/*/tests.py:F401
    apps/*/views.py:F401
    apps/activity/admin.py:F401
    apps/activity/models.py:F401
    apps/projects/urls.py:F401
    settings/conf.py:F401
    settings/env/local.py:F405